{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Reincublog{% endblock %}</title>
    </head>

    <body>
        <div class='container'>
            <div class='row content'>
                <h2><a href='/'>Blog title</a></h2>
                <hr>
                {% block content %}&nbsp;{% endblock %}
            </div>
            <div class='row footer'>
                {% block footer %}{% endblock %}
                <p><a href='/'>Go back to the homepage</a></p>
            </div>
        </div>
    </body>
</html>
{% endspaceless %}
