{% extends 'base.html' %}

{% load comments %}

{% block title %}Reincublog{% endblock %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
            {% include 'post-content.html' %}
            {% get_comment_count for post as comment_count %}
            <p><a href='/post/{{ post.id }}/'>Full post</a> || {{ comment_count }} comment{{ comment_count|pluralize }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <p>Sorry - no posts found.</p>
    {% endif %}
{% endblock %}

{% block footer %}
    {% if posts.paginator.num_pages > 1 %}
        {% if posts.has_next %}
            <p><a href='?page={{ posts.next_page_number }}'>Older posts &raquo;</a></p>
        {% endif %}
        {% if posts.has_previous %}
            <p><a href='?page={{ posts.previous_page_number }}'>&laquo; Newer posts</a></p>
        {% endif %}
    {% endif %}
{% endblock %}
