{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    {% if post.featured_image %}
        {% thumbnail post.featured_image "400" as im %}
            <img src='{{ im.url }}' width='{{ im.width }}' height='{{ im.height }}' alt=''>
        {% endthumbnail %}
    {% endif %}
    {{ post.content|safe }}
{% endblock %}

{% block footer %}
    {% if previous %}
        <p><a href='/post/{{ previous.id }}/'>Older post &raquo;</a></p>
    {% endif %}
    {% if next %}
        <p><a href='/post/{{ next.id }}/'>&laquo; Newer post</a></p>
    {% endif %}
{% endblock %}
